body{
    direction: rtl;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
a{
    text-decoration: none;
}
/* قالب الحتوى */
.front{
    background: url(../images/space.png) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 657px;
    position: relative;
}
.container{
    width: 76%;
    margin: auto;
}
.file{
    width: 66%;
    margin: auto;
}
/* الهيد */
.hed{
    background: #030018;
    font-family: 'Sansita Swashed', cursive;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 54px;
}
.logo{
    text-decoration: none;
    font-size: 32px;
}
.semi{
    color: #9CA9B7;
}
/* المحتوى */
.box{
    /* الهيرو ايمج */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* نهاية الهيرو */
    display: flex;
    flex-flow: row;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
.photo{
    width: 45%;
    border: 30px solid rgba(7, 80, 158, 0.2);
    border-radius: 50%;
    flex-shrink: 3;
}
.mog{
    border: 30px solid rgba(7, 80, 158, 0.1);
    border-radius: 50%;
 
}
.photo .mog img{
    width: 100%;
    height: 220px;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-shrink: 2;
    text-align: center;
    margin-top: 65px;
}
.adrs{
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 40px;
    margin: 0 0 50px;
}
.bt0{
    height: 45px;
    border-radius: 19px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Tajawal', sans-serif;
}
.btn1{
    background: #60dd01;
    border: none;
    border-bottom:5px solid#55a000;
    margin-bottom: 10px;
}
.btn1:hover{
    background: #6dfa01;
}
.btn2{
    background: #0b033f;
    border: 2px solid #0e035a;
    border-bottom:5px solid#0e035a;
    margin-bottom: 10px;
}
.btn2:hover{
    background: #150a5f;
}
/* لغات التعلم */
.cont{
    text-align: center;
    margin: 100px 0 80px 0;
}
.cont .adr1{
    font-size: 40px;

}
.learn{
    display: flex;
    justify-content: space-between;
}
.item{
    width: 270px;
    height: 270px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 6px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
}
.item:hover{
    border: 3px solid #fff;
    border-bottom: 6px solid #fff;
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
}
.item img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
}
.item .js{
    width: 90px;
    height: 90px;
}
.item .graph{
    color: #fff;
    margin-top: 20px;
    font-size: 27px;
    font-family: 'Tajawal', sans-serif;
    text-transform: capitalize;
}